* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* media */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .hero {
        padding: 60px 20px;
        font-size: large;
    }

    .hero button {
        padding: 12px 25px;
        font-size: medium;
    }

    .main {
        height: auto;
    }

    footer {
        margin-top: 50px;
    }
}
/* Header */
header {
    background: #000000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
}

nav a:hover {
    color:#E10600;
}

/* Hero */
.hero {
    padding: 150px;
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
  
     
}

.hero button {
    margin-top: 50px;
    padding: 20px 40px;
    border: none;
    background: #E10600;
    color: #FFFFFF;
    cursor: pointer;
    font-size: x-large;
    border-radius: 6px;
    font-weight: bold;
}
.hero button:hover{
    background: #B80000;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
    background-color: #f5f5f5;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
}

.feature-box {
    text-align: center;
    max-width: 250px;
     transition: 0.3s ease;
}
.feature-box:hover {
    transform: translateY(-8px);
    color: #e60000;
}
.feature-box img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
.featuresh3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
     color: #111;
}
.features p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
        color: #666;
}

.main{
    background-image: url('Pics/mainimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 435px;
  
}


/* Footer */
/* footer {
background-color: #1F2A36;
color: #F5F1E8;
text-align: center;
padding: 15px;
margin-top: 140px;
    
}
footer span{
    color: #C0392B;
} */
 footer {
    background: #111;
    color: #bbb;
    padding: 15px ;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
     border-top: 2px solid #e60000;
     margin-top: 130px;
     text-align: center;
}
